body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

a:link {
    color: Green;
}

a:visited {
    color: white;
}

.name {
    text-align: center;
}

ul {
    padding-top: 2em;
    list-style: none;

}